services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.1
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.license.self_generated.type=trial
      - ES_JAVA_OPTS=-Xms2g -Xmx2g
    ports:
      - "9200:9200"

  prometheus:
    image: prom/prometheus:v2.53.0
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    depends_on:
      - metrics-gen

  metrics-gen:
    build: ./metrics-gen
    environment:
      - NUM_INSTANCES=2000      # tweak this for more/less cardinality
      - NUM_STATUS_CODES=5
      - NUM_METHODS=2
      - TICK_SECONDS=10
      - ES_URL=http://elasticsearch:9200
      - ES_INDEX=metrics-http
    ports:
      - "8000:8000"             # exposes /metrics for Prometheus
    depends_on:
      - elasticsearch

  bench:
    build: ./bench
    # only run this on demand
    depends_on:
      - prometheus
      - elasticsearch
    environment:
      - PROM_URL=http://prometheus:9090
      - ES_URL=http://elasticsearch:9200
